@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    gap: 12vh;
    width: 100%;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

h1{
    color: rgb(0, 0, 255);
    font-weight: 700;
    letter-spacing: 1px;

    text-shadow:
        0 0 3px rgb(0, 0, 255, 0.6),
        0 0 1px rgba(0, 0, 255),
        0 0 4px rgba(0, 0, 255);
}




header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;
    
}

.recuadro1{
    display: flex;
    gap: 5vh;
    width: 50%;    
}

.recuadro1 > img{
    width: 10vw;
    height: 25vh; 
    border-radius: 7px;
    box-shadow: 2px 2px 2px blue; 
}

.recuadro1 .personalInfo{
    border: 2px solid black;
    border-radius: 12px;
    padding: 2vh;
    
}

.recuadro1 .personalInfo .imgsProy{
    display: flex;
    gap: 2vh;
    
    justify-content: end;
    margin-right: 2vh;
}



.recuadro1 div img{
    width: 1.4vw;
    height: 4vh;    
}

.section-proyects{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    
}

.proyects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vh;
}

.proyect{
   
    height: 35vh;
    width: 20vw ;
    display: flex;
    flex-direction: column;
    
    
    
}

.proyect > div:first-child{
    border: 2px solid black;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.proyect > div:nth-child(2){
    height: 20vh;
    display: flex;
    gap: 15vh;
    border: 2px solid black;
    padding: 3vh;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
   
}

.proyect > div:nth-child(2) div{
    height: 2vh;
    width: 60vw;
    justify-content: end;
    
}

.proyect > div:nth-child(2) img{
    height: 2vh;
    width: 2vw;
    justify-content: end;
    
}

.proyect div>div img{
    width: 15px;
    height: 20px;
    object-fit: contain;
}

footer{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
    
   
}

footer>div{
    margin-left: 4vh;
    

}

footer .imgProy-footer{
    display: flex;
    flex-direction: row;
    width: 6vh;
    gap: 2vh;
}

footer .imgProy-footer img{
    width: 3vw;
    height: 3vh;
   
    
}

footer >div:nth-child(2) img{
    border-radius: 12px;
}


/*TABLETS*/

@media (max-width: 700px) {

body{

    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}   
    
header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh; 

}

.recuadro1{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 70%;   
    
}

.recuadro1 img{
    width: 25vw;
    height: 19vh; 
    
}

.recuadro1 .personalInfo{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.9vh;
    border-radius: 12px;
    
}

.recuadro1 .personalInfo .imgsProy img{
    width: 16px;
    height: 25px;
    
}

.proyects{
    display: flex;
    flex-direction: column;

}

.proyect{
   
    height: 35vh;
    width: 60vw ;
    display: flex;
    flex-direction: column;  
}

.proyect img{
    width: 12px;
    height: 20px;
}

.proyect > div:nth-child(2){
    height: 40vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    
   
}



.proyect > div:nth-child(2) >div:first-child{
      font-size: 1em;
}

.proyect > div:nth-child(2) > div:nth-child(2){
    display: flex;
    justify-content: end;
    gap: 2vh;
    
   
}

footer{
    width: 100%;
}


footer >div:nth-child(2) img{
    width: 50vw;
    height: 35vh;
    border-radius: 12px;

}

}

/*portatiles imagen pequena*/

@media(min-width:701px) and (max-width:1100px){
    body{

        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 100%;
        font-family: "Rowdies", sans-serif;
        font-weight: 300;
        font-style: normal;
    }   
        
    header{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 3vh; 
    
    }
    
    .recuadro1{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 70%;   
        
    }
    
    .recuadro1 img{
        width: 15vw;
        height: 19vh; 
        
    }
    
    .recuadro1 .personalInfo{
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        gap: 0.9vh;
        border-radius: 12px;
        
    }
    
    .recuadro1 .personalInfo .imgsProy img{
        width: 16px;
        height: 25px;
        
    }
    
    .proyects{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        
    
    }
    
    .proyect{
       
        height: 35vh;
        width: 40vw ;
        display: flex;
        flex-direction: column;  
    }

    
    
    .proyect img{
        width: 12px;
        height: 20px;
    }
    
    .proyect > div:nth-child(2){
        height: 40vh;
        margin: 0;
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        
       
    }
    
    
    
    .proyect > div:nth-child(2) >div:first-child{
          font-size: 1em;
    }
    
    .proyect > div:nth-child(2) > div:nth-child(2){
        display: flex;
        justify-content: end;
        gap: 2vh;
        
    }  
    
    footer >div:nth-child(2) img{
        width: 50vw;
        height: 35vh;
        border-radius: 12px;
    
    }
}

@media (max-width:596px){

    .recuadro1{
        width: 90%;
    }
    
    .recuadro1 img{
        width: 40vw;
    }
    
    .section-proyects h1{
        font-size: 1.3em;
    }
    
    .proyect{
        width: 80vw;
    }
    
    .proyect > div:first-child{
        height: 25vh;
    }
    
    footer{
        flex-direction: column;
        height: auto;
        gap: 4vh;
        padding: 4vh 0;
    }

    footer .imgProy-footer img{
        width: 16px;
    }
    
    footer >div:nth-child(2) img{
        width: 60vw;
        height: auto;
        object-fit: contain;
    }
}

@media (min-width:1101) and (max-width: 1328){
    .proyect{
        height: 35vh;
        width: 80vw ;
        display: flex;
        flex-direction: column;  
    }
}



  
        








