@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    gap: 12vh;
    width: 100%;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}


header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;
    
}

.recuadro1{
    display: flex;
    gap: 5vh;
    width: 50%;    
}

.recuadro1 img{
    width: 10vw;
    height: 25vh;    
}

.recuadro1 .personalInfo{
    border: 2px solid black;
    padding: 2vh;
    
}

.recuadro1 .personalInfo .imgsProy{
    display: flex;
    gap: 2vh;
    
    justify-content: end;
    margin-right: 2vh;
}



.recuadro1 div img{
    width: 1.4vw;
    height: 4vh;    
}

.section-proyects{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    
}

.proyects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vh;
}

.proyect{
   
    height: 35vh;
    width: 20vw ;
    display: flex;
    flex-direction: column;
    
    
}

.proyect > div:first-child{
    border: 2px solid black;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}


.proyect > div:nth-child(2){
    height: 20vh;
    display: flex;
    gap: 15vh;
    border: 2px solid black;
    padding: 3vh;
   
}

.proyect > div:nth-child(2) div{
    height: 2vh;
    width: 60vw;
    justify-content: end;
    
}

.proyect > div:nth-child(2) img{
    height: 2vh;
    width: 2vw;
    justify-content: end;
    
}

.proyect div>div img{
    width: 15px;
    height: 20px;
    object-fit: contain;
}

footer{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    
   
}

footer>div{
    margin-left: 4vh;
    

}

footer .imgProy-footer{
    display: flex;
    flex-direction: row;
    width: 6vh;
    gap: 2vh;
}

footer .imgProy-footer img{
    width: 3vw;
    height: 3vh;
   
    
}








